In [2]:
# was tp print "hello world"
print("hello world")

hello world

In [5]:
# was to intialize variable and value as 50
a=50
b=10.5
c=b'1010'
d=True
e=10+5j
f="hello"
g=[10,20,30]
h=(20,34,56,"hello")
i=20,30,40
j={12,34,56}
k={a:56,b:78}
print(a,b,c,d,e,f,g,h,i,j,k)

50 10.5 b'1010' True (10+5j) hello [10, 20, 30] (20, 34, 56, 'hello') (20, 30, 40) {56, 34, 12} {50: 56, 10.5: 78}

In [6]:
#was to intialize the multi variable values 
A,B,C=150,120,250
print(A)
print(B)
print(C)

150
120
250

In [11]:
#was to print type of data 
a={10,20}
type(a)
print(a)
# to kow the address of memory block 
id(a)

{10, 20}

2777505430016

In [14]:
# was to print your details 
siri={'name':'shirisha','education':"b.tech",'email':'ashirishasiri@gmail.com'}
print(siri)
print(siri['education'])

{'name': 'shirisha', 'education': 'b.tech', 'email': 'ashirishasiri@gmail.com'}
b.tech

In [22]:
#was to swap the two values with temp variable
x='haii'
y='bye'
temp=x       # x value loaded into the temp
print(temp) 
print(x) 
x=y          # y value loaded into the x . x value replace by y value 
print(x) 
y=temp      # temp value loaded into y . y value replace with temp value 
print(x)
print(y)

haii
haii
bye
bye
haii

 when ever we want to swap two numbers   1st we load the values into one tempaory variable 
 without temp variables also we can do  by using the multi variable concept

In [26]:
#was to swap the variables with out temp variable 
 # by using multi  variable concept
# multi values DT
m=[10,20]
n={10,20}
m,n=n,m
print(m)
print(n)
# single values 
a=10
b=20
a,b=b,a 
print(a)
print(b)

{10, 20}
[10, 20]
20
10

In [43]:
#was to intilalizeba value and print the values after print the reinitialize the new value to the  existing  variable and dispaly the value 
# initialization 
a={ 'name' :"python"}
#fetch
print(a['name'])
#reinitialization 
a['name']='shirisha'
print(a['name'])
#concatination
a['age']=22
print(a)
#deleting
del a['name']
print(a)

python
shirisha
{'name': 'shirisha', 'age': 22}
{'age': 22}

In [56]:
#was to convert single to multi value data type 
# i/p= a=10
# o/p=['1','0']

a=10
print(list(str(a)))
#['1', '0']
type( list(str(a)))

['1', '0']

list

In [3]:
# was to concat the two multi value databtype(str,list,tuple,set,dict)
# for string
a= "raja"
a+="rani"
print (a)
# for list 
x=[10,20]
x+=[30,40]
print(x)

rajarani
[10, 20, 30, 40]

In [6]:
# was to check the length of the  collection 
a='shirisha'
print(len(a))
 # the length function only  doesn't support the primitive data typesdata types  except "bytes data type "
c=b'1010'
print(len(c))
d=19   # int  DT doesn't support
len(d)

8
4

TypeError: object of type 'int' has no len()

In [11]:
# was to find out the  middle  values of the given collection

a="hello"
print(len(a))
print(len(a)//2) # we get accurate value  only for the odd no.of char present in the colletion
b="haii"
print(len(b)//2)

5
2
2

In [25]:
# WAs to cancat the new  string  into the  starting of the  given string 
a=" world"
#print(id(a))    # address will  change 
a="hello"+a 
print(a)
#print(id(a))
# WAs to cancat the new  string  into the  ending  of the  given string
b="hello"
print(id(b))
b+="man"
print(b)
print(id(b))
# WAs to cancat the new  string  into the middle of the  given string
ssssssss

hello world
1847814202032
helloman
1847840950320